<ion-content padding class="animated fadeIn login auth-page">
    <div class="login-content" style="padding-bottom: 0px !important;">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <img src="assets/imgs/ionic3-ico.png">
        </div>

        <!-- Login form -->
        <form class="list-form" [formGroup]="loginForm" novalidate (ngSubmit)="loginUser()">
            <ion-item>
                <ion-label floating>
                    <ion-icon name="contact" item-start class="text-primary"></ion-icon>Username
                </ion-label>
                <ion-input #email formControlName="email" type="text" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
                </ion-input>
            </ion-item>

            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
                <p class="val-msg">Please enter a valid email.</p>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    Password
                </ion-label>
                <ion-input #password formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
                <p class="val-msg">Please enter a valid password.</p>
            </ion-item>
            <div>
                <br>
                <button type="submit" ion-button icon-start block color="dark" tappable [disabled]="!loginForm.valid">
                    <ion-icon name="log-in"></ion-icon>
                    Sign In
                </button>

            </div>
        </form>
        <p text-right ion-text color="secondary" tappable (click)="forgotPass()">
            <strong>Forgot Password?</strong>
        </p>
    </div>
</ion-content>