<ion-content no-bounce class="main-view">
	<div class="overlay">
		<div class="modal_content login_view">
			<ion-row>
				<ion-col>
					<div>
						<h5><strong>Digital Start</strong></h5>
						<p>{{data.digital_start | date:'d-MMM-y,h:mm a'}}</p>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div>
						<h5><strong>Digital Complete</strong></h5>
						<p>{{data.digital_complete | date:'d-MMM-y,h:mm a'}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<div>
						<h5><strong>Poloshing Start</strong></h5>
						<p>{{data.digital_start | date:'d-MMM-y,h:mm a'}}</p>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div>
						<h5><strong>Polishing Complete</strong></h5>
						<p>{{data.digital_complete | date:'d-MMM-y,h:mm a'}}</p>
					</div>
				</ion-col>
			</ion-row>

			<ion-buttons text-center>
				<div class="login_btn">
					<button ion-button text-center 
					[style.position] = "'relative'"
						[style.padding] = "'0 30px'"
						[style.height] = "'40px'"
						[style.background-color] = "'#1B8BF9'"
						[style.box-shadow] = "'15px 0px 35px 0px rgba(244,67,54,0.25)'"
						[style.border-radius] = "'10px'"
						(click)=close()>Close</button>
				</div>
			</ion-buttons>
		</div>
	</div>
</ion-content>
