<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>
			<strong>Forgot Password</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>
<ion-content padding></ion-content>