page-members {
    .item-inner {
        margin: 0px -8px !important;
    }

    ion-label{
        // margin-bottom: -13px !important;
    }

    .check_box{
        // width: 20px;
        // height: 20px;
        border-radius: 2px;
        position: relative;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #787878;
        background-color: #fff;
        -webkit-transition-duration: 280ms;
        transition-duration: 280ms;
        -webkit-transition-property: background;
        transition-property: background;
        -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        // left: 0;
        // top: 0;
        // position: absolute;
        // width: 100%;
        // height: 100%;
        background: transparent;
        cursor: pointer;
    }
}
