<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Members</strong>
		</ion-title>

		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-checkbox (ionChange) = "checkAll($event)" color="royal" [(ngModel)]="select" [style.margin-left]="'3px'"></ion-checkbox> 
		<button ion-button color="danger" icon-only (click)=deleteMem(delete) *ngIf="display">
			<ion-icon name="ios-trash" right></ion-icon>
		</button>
		<ion-item *ngFor="let item of memberData; let index = index; ">
			<input class="check_box" id="member_{{index}}" type="checkbox" [style.margin-left]="'-13px'" item-start color="royal" [checked]="selectedAll" (click)="deleteMember($event,index,item.id)">
			<label for="member_{{index}}"></label>
			<ion-avatar item-start [style.margin-left]="'-8px'">
				<img *ngIf="item.user_type == 'marketing'" src="./assets/imgs/01-04-2.png">
				<img *ngIf="item.user_type == 'digitalmachine'" src="./assets/imgs/01-04-1.png">
				<img *ngIf="item.user_type == 'polishingmachine'" src="./assets/imgs/01-06.png">
			</ion-avatar>
			<ion-label>
				<p>{{item?.name}}</p>
			</ion-label>

			<ion-icon color="light" item-end name="create" (click)="editMember($event,item)"></ion-icon>&nbsp;
			<!-- <ion-icon color="light" item-end name="trash" (click)="deleteMember($event,item.id)"></ion-icon> -->

		</ion-item>
	</ion-list>
	<div *ngIf="memberData?.length == 0">
		<h3 text-center>No Member Found</h3>
	</div>
	<ion-fab right bottom class="search_view_btn">
		<button ion-fab color="primary" (click)="openAddMember()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>