<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Edit Profile</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<div class="login-content" style="padding-bottom: 0px !important;">

		<!-- Login form -->
		<form class="list-form" [formGroup]="editUserForm" (submit)="editUser()" novalidate>
			<ion-item>
				<ion-label floating>
					<ion-icon name="contact" item-start class="text-primary"></ion-icon>
					Name
				</ion-label>
				<ion-input type="text" #name formControlName="name" [class.invalid]="!editUserForm.controls.name.valid && editUserForm.controls.name.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!editUserForm.controls.name.valid  && editUserForm.controls.name.dirty">
				<p>Please enter a valid name.</p>
			</ion-item>

			<ion-item>
				<ion-label floating>
					<ion-icon name="mail" item-start class="text-primary"></ion-icon>
					Email
				</ion-label>
				<ion-input type="email" #email formControlName="email" [class.invalid]="!editUserForm.controls.email.valid && editUserForm.controls.email.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!editUserForm.controls.email.valid  && editUserForm.controls.email.dirty">
				<p>Please enter a valid email.</p>
			</ion-item>

			<ion-item>
				<ion-label floating>
					<ion-icon name="contact" item-start class="text-primary"></ion-icon>
					Company Name
				</ion-label>
				<ion-input type="text" #company_name formControlName="company_name" [class.invalid]="!editUserForm.controls.company_name.valid && editUserForm.controls.company_name.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!editUserForm.controls.company_name.valid  && editUserForm.controls.company_name.dirty">
				<p>Please enter a valid company name.</p>
			</ion-item>

			<div margin-top class="mtop">
				<button type="submit" ion-button block color="dark" tappable>
					Save Changes
				</button>
			</div>
		</form>
	</div>
	<br>
	<button ion-button block type="button" clear (click)="goToChangePassword()">
		Change password
	</button>
</ion-content>