<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Add Order</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding class="animated fadeIn common-bg">
	<div class="login-content" style="padding-bottom: 0px !important;">

		<!-- Login form -->
		<form class="list-form" [formGroup]="addOrderForm" novalidate (submit)="addOrder()">
			<ion-item>
				<!-- <ion-label>Port</ion-label> -->
				<ion-label floating>
					<ion-icon name="cube" item-start class="text-primary"></ion-icon>
					Product / Design Number
				</ion-label> 
				<!-- <ion-select #design_number formControlName="design_number" [class.invalid]="!addOrderForm.controls.design_number.valid && addOrderForm.controls.design_number.dirty">
					<ion-option *ngFor="let data of productData" value="{{data.design_number}}">{{data.design_number}}</ion-option>
				</ion-select> -->
				<select-searchable
				item-content
				[(ngModel)]="design_number"
				[items]="productData"
				itemValueField="design_number"
				itemTextField="design_number"
				[canSearch]="true"
				formControlName="design_number">
			</select-searchable>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addOrderForm.controls.design_number.valid  && addOrderForm.controls.design_number.dirty">
				<p>Please select Product.</p>
			</ion-item>

			<ion-item>
				<ion-label floating>
					<ion-icon name="timer" item-start class="text-primary"></ion-icon>
					Quantity
				</ion-label>
				<ion-input type="number" #quantity formControlName="quantity" [class.invalid]="!addOrderForm.controls.quantity.valid && addOrderForm.controls.quantity.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addOrderForm.controls.quantity.valid  && addOrderForm.controls.quantity.dirty">
				<p>Please enter a valid value.</p>
			</ion-item>

			<!-- <ion-item>
				<ion-label floating>
					<ion-icon name="speedometer" item-start class="text-primary"></ion-icon>
					Priority
				</ion-label>
				<ion-select cancelText="Cancel" okText="OK" #user_type formControlName="priority">
					<ion-option value="High">High</ion-option>
					<ion-option value="Medium">Medium</ion-option>
					<ion-option value="Low">Low</ion-option>
				</ion-select>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addOrderForm.controls.priority.valid  && addOrderForm.controls.priority.dirty">
				<p>Please select priority.</p>
			</ion-item> -->


			<ion-item>
				<ion-label floating>
					<ion-icon name="document" item-start class="text-primary"></ion-icon>
					Note
				</ion-label>
				<ion-textarea #name formControlName="note" [class.invalid]="!addOrderForm.controls.note.valid && addOrderForm.controls.note.dirty"></ion-textarea>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addOrderForm.controls.note.valid  && addOrderForm.controls.note.dirty">
				<p>Please enter a valid value.</p>
			</ion-item>
			<div margin-top class="mtop">
				<button type="submit" ion-button block color="dark" [disabled]="!addOrderForm.valid">
					Add Order
				</button>
			</div>
		</form>


	</div>

</ion-content>