page-home {
	ion-icon{
		font-size: 24px;
		color: #ffffff;
	}

	.scroll-content{
		padding: 6px 8px 6px 8px !important;
	}

	.col{
		padding: 0px !important;
	}

	.box{
		
    	display: block;
    	//border: 1px solid #ccc;
    	//border-radius: 5px;
        
    	background-color: #fff;
    	text-align: center;

    	img{
    		width: 65px;
    	}

    	.inner_div{
    		color: #094F1C;
    		font-family: "Lato", sans-serif;
    		font-size: small;
    		padding-top: 5px;
    	}
        
        .outer_div{
            padding: 5px;
            height: 120px;
        }
    }
    .border-btm{
        border-bottom:1px solid #ccc;
        margin:14px 8px 8px 6px; 
    }
    .dashboard_list .box .outer_div:hover{
        background:#ffbe00;
        border-radius:10px;
    }
    .dashboard_list:nth-child(1) .box .outer_div,
    .dashboard_list:nth-child(2) .box .outer_div,
    .dashboard_list:nth-child(4) .box .outer_div,
    .dashboard_list:nth-child(5) .box .outer_div,
    .dashboard_list:nth-child(7) .box .outer_div,
    .dashboard_list:nth-child(8) .box .outer_div,
    .dashboard_list:nth-child(10) .box .outer_div,
    .dashboard_list:nth-child(11) .box .outer_div{
        border-right:1px solid #ccc;
    }
    .dashboard_list:nth-child(10) .border-btm,
    .dashboard_list:nth-child(11) .border-btm,
    .dashboard_list:nth-child(12) .border-btm{
        display:none;
    }
}
