<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Home</strong>
		</ion-title>
		<ion-buttons end>
			<!-- <button ion-button tappable (click)="presentNotifications($event)">
				<ion-icon name="notifications"></ion-icon>
			</button> -->
			<button ion-button tappable (click)="logout()">
				<ion-icon name="power"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="animated fadeIn common-bg">
	<ion-row>
		<ion-col class="dashboard_list" col-6 *ngFor="let item of menuItems; let index = index; " (tap)="openPage(item);">
			<div class="box">
				<div class="outer_div">
					<img src="{{item.icon}}">
					<div class="inner_div">
						<h4>{{item.title}}</h4>
					</div>
					<ion-badge *ngIf="item.title == 'Orders'" item-end>Total:{{orders}}</ion-badge>
					<ion-badge *ngIf="item.title == 'Products'" item-end>Total:{{products}}</ion-badge>
					<ion-badge *ngIf="item.title == 'Members'" item-end>Total:{{members}}</ion-badge>
				</div>
				<div class="border-btm"></div>
			</div>
		</ion-col>
	</ion-row>
</ion-content>