<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title *ngIf="memberInfo === undefined">
            <strong>Add new member</strong>
        </ion-title>
        <ion-title *ngIf="memberInfo != undefined">
            <strong>Edit member</strong>
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)=home()>
                <ion-icon name="ios-home-outline" right></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding class="animated fadeIn common-bg">
    <div class="login-content" style="padding-bottom: 0px !important;">

        <!-- Login form -->
        <form class="list-form" [formGroup]="addUserForm" (submit)="addUser()" novalidate>
            <input type="hidden" name="id" id="id" formControlName="id" />
            <ion-item>
                <ion-label floating>
                    <ion-icon name="contact" item-start class="text-primary"></ion-icon>
                    Username
                </ion-label>
                <ion-input type="text" #name formControlName="name" [class.invalid]="!addUserForm.controls.name.valid && addUserForm.controls.name.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addUserForm.controls.name.valid  && addUserForm.controls.name.dirty">
                <p>Please enter a valid name.</p>
            </ion-item>

            <!-- <ion-item>
                <ion-label floating>
                    <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                    Email
                </ion-label>
                <ion-input type="email" #email formControlName="email" [class.invalid]="!addUserForm.controls.email.valid && addUserForm.controls.email.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addUserForm.controls.email.valid  && addUserForm.controls.email.dirty">
                <p>Please enter a valid email.</p>
            </ion-item> -->

            <ion-item>
                <ion-label floating>
                    <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                    Password
                </ion-label>
                <ion-input type="password" #password formControlName="password" [class.invalid]="!addUserForm.controls.password.valid && addUserForm.controls.password.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addUserForm.controls.password.valid  && addUserForm.controls.password.dirty">
                <p>Please enter a valid password.</p>
            </ion-item>

            <ion-item>
                <ion-label floating>User Type</ion-label>
                <ion-select cancelText="Cancel" okText="OK" #user_type formControlName="user_type">
                    <ion-option value="marketing">Marketing</ion-option>
                    <ion-option value="digitalmachine">Digital Machine</ion-option>
                    <ion-option value="polishingmachine">Polishing Machine</ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addUserForm.controls.user_type.valid  && addUserForm.controls.user_type.dirty">
                <p>Please select a user type.</p>
            </ion-item>

            <!-- <ion-item>
                <ion-label floating>
                    <ion-icon name="contact" item-start class="text-primary"></ion-icon>
                    Company Name
                </ion-label>
                <ion-input type="text" #name formControlName="company_name" [class.invalid]="!addUserForm.controls.company_name.valid && addUserForm.controls.company_name.dirty"></ion-input>
            </ion-item>
            <ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addUserForm.controls.company_name.valid  && addUserForm.controls.company_name.dirty">
                <p>Please enter a valid company name.</p>
            </ion-item> -->

            <div margin-top class="mtop">
                <button type="submit" ion-button block color="dark" tappable *ngIf="memberInfo === undefined">
                    Add Member
                </button>
                <button type="submit" ion-button block color="dark" tappable *ngIf="memberInfo != undefined">
                    Save Changes
                </button>
            </div>
        </form>
    </div>
</ion-content>