<ion-header>

	<ion-navbar color="primary">
		<ion-title>
			<strong>Change Password</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<div class="login-content" style="padding-bottom: 0px !important;">
		<form class="list-form" [formGroup]="changePasswordForm" (submit)="changePassword()" novalidate>
		
			<ion-item>
				<ion-label floating>
					<ion-icon name="lock" item-start class="text-primary"></ion-icon>
					Old Password
				</ion-label>
				<ion-input type="password" #old_password formControlName="old_password" [class.invalid]="!changePasswordForm.controls.old_password.valid && changePasswordForm.controls.old_password.dirty"></ion-input>
			</ion-item>
			<div class="error-message" [style.padding-left]='"0px"'>
				<ng-container *ngFor="let validation of validation_messages.old_password" >
					<div [style.color]='"#666"' *ngIf="changePasswordForm.get('old_password').hasError(validation.type) && (changePasswordForm.get('old_password').dirty || changePasswordForm.get('old_password').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>
					
			<ion-item>
				<ion-label floating>
					<ion-icon name="lock" item-start class="text-primary"></ion-icon>
					New Password
				</ion-label>
				<ion-input type="password" #new_password formControlName="new_password" [class.invalid]="!changePasswordForm.controls.new_password.valid && changePasswordForm.controls.new_password.dirty"></ion-input>
			</ion-item>
			<div class="error-message" [style.padding-left]='"0px"'>
				<ng-container *ngFor="let validation of validation_messages.new_password" >
					<div [style.color]='"#666"' *ngIf="changePasswordForm.get('new_password').hasError(validation.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>
					<ion-icon name="lock" item-start class="text-primary"></ion-icon>
					Confirm Password
				</ion-label>
				<ion-input type="password" #password_confirmation formControlName="password_confirmation" [class.invalid]="!changePasswordForm.controls.password_confirmation.valid && changePasswordForm.controls.password_confirmation.dirty"></ion-input>
			</ion-item>
			<div class="error-message" [style.padding-left]='"0px"'>
				<ng-container *ngFor="let validation of validation_messages.password_confirmation" >
					<div [style.color]='"#666"' *ngIf="changePasswordForm.get('password_confirmation').hasError(validation.type) && (changePasswordForm.get('password_confirmation').dirty || changePasswordForm.get('password_confirmation').touched)">
				{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<div margin-top class="mtop">
				<button type="submit" ion-button block color="dark" tappable>
					Change Password
				</button>
			</div>
		</form>
	</div>
</ion-content>