<ion-menu side="left" id="authenticated" [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile" color="primary">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
              <div class="user-avatar">
                <img src="./assets/imgs/avatar.jpg">
              </div>
          </ion-col>
          <ion-col padding-top col-8>
            <span [style.font-size]='"20px"' ion-text class="no-margin bold text-white">
              {{userData?.name}} 
            <ion-icon [style.font-size]='"19px"' name="create" (click)="edit()"></ion-icon></span>
            <p [style.padding]='"0px"' [style.margin]='"0px"'><span ion-text color="light">{{type}}</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose class="text-1x" ion-item *ngFor="let p of pages" (click)="openPage($event, p)">
        <ion-icon item-left [name]="p.icon" color="primary"></ion-icon>
        <span ion-text color="primary">{{p.title}}</span>
        <button *ngIf="(p.title != 'Home')" (click)="openAddPage($event, p.title)" ion-button clear item-end>Add</button>
      </button>
      <button menuClose class="text-1x" ion-item (click)="logout()">
        <ion-icon item-left name="exit" color="primary"></ion-icon>
        <span ion-text color="primary">Logout</span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>