<ion-header>

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="productInfo == undefined">
			<strong>Add Product</strong>
		</ion-title>
		<ion-title *ngIf="productInfo != undefined">
			<strong>Edit Product</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding class="animated fadeIn common-bg">
	<div class="login-content" style="padding-bottom: 0px !important;">

		<!-- Login form -->
		<form class="list-form" [formGroup]="addProductForm" (submit)="addProduct()" novalidate>
			<input type="hidden" name="id" id="id" formControlName="id" />
			<ion-item>
				<ion-label floating>
					<ion-icon name="logo-designernews" item-start class="text-primary"></ion-icon>
					Design Number
				</ion-label>
				<ion-input type="text" #design_number formControlName="design_number" [class.invalid]="!addProductForm.controls.design_number.valid && addProductForm.controls.design_number.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addProductForm.controls.design_number.valid  && addProductForm.controls.design_number.dirty">
				<p>Please enter a valid design number.</p>
			</ion-item>

			<!-- <ion-item>
				<ion-label floating>
					<ion-icon name="cube" item-start class="text-primary"></ion-icon>
					Product Name
				</ion-label>
				<ion-input type="text" #product_name formControlName="product_name" [class.invalid]="!addProductForm.controls.product_name.valid && addProductForm.controls.product_name.dirty"></ion-input>
			</ion-item>
			<ion-item class="error-message" [style.padding-left]='"0px"' *ngIf="!addProductForm.controls.product_name.valid  && addProductForm.controls.product_name.dirty">
				<p>Please enter a valid product name.</p>
			</ion-item> -->
			<!-- <ion-item>
				<ion-label floating>
					<ion-icon name="document" item-start class="text-primary"></ion-icon>
					Description
				</ion-label>
				<ion-textarea #name formControlName="description" [class.invalid]="!addProductForm.controls.description.valid && addProductForm.controls.description.dirty"></ion-textarea>
			</ion-item> -->
			<div margin-top class="mtop">
				<button type="submit" ion-button block color="dark" tappable *ngIf="productInfo === undefined" [disabled]="!addProductForm.valid">
					Add Product
				</button>
				<button type="submit" ion-button block color="dark" tappable *ngIf="productInfo != undefined" [disabled]="!addProductForm.valid">
					Save Changes
				</button>
			</div>
		</form>
	</div>
</ion-content>