page-products {
    ion-grid{
        margin-left: -19px !important;
        margin-top: -24px !important;
    }

    .item-inner {
        margin: 0px -8px !important;
    }

    ion-label{
        //margin: 0px !important; 
    }
}
