<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Products</strong>
		</ion-title>
		<ion-buttons right>
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-grid style="width: 110% !important;">
		<ion-row>
			<ion-col col-6>
				<ion-item>
					<label class="">Design Number
					</label>
				</ion-item>
			</ion-col>
			<ion-col col-3>
				<ion-item>
					<label class="">Edit
					</label>
				</ion-item>
			</ion-col>
			<ion-col col-3>
				<ion-item>
					<label class="">Delete
					</label>
				</ion-item>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-item>
		<ion-row *ngFor="let item of productData; let index = index; ">
			<ion-col col-6>
				<ion-label>
					<h2>{{item?.design_number}}</h2>
				</ion-label>
			</ion-col>
			<ion-col col-3 text-center>
				<ion-icon color="light" item-end name="create" (click)="editProduct($event,item)"></ion-icon>&nbsp;
			</ion-col>
			<ion-col col-3 text-center>
				<ion-icon color="light" item-end name="trash" (click)="deleteProduct($event,item.id)"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-item>
	<div *ngIf="productData?.length == 0">
		<h3 text-center>No Product Found</h3>
	</div>
	<ion-fab right bottom class="search_view_btn">
		<button ion-fab color="primary" (click)="openAddProduct()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>