page-orders {
    .item-inner {
        margin: 0px -8px !important;
    }
    .label-md {
        //margin: 0px !important;
    }

    .fab-size{
        width: 40px !important;
        height: 40px !important;
    }

    .header1{
        height: 25px;
        color: white;
    }
    ion-grid{
        margin-left: -19px !important;
        margin-top: -24px !important;
    }

    .custom-padding{
        margin-left: 15px !important;
    }

    .custom{
        margin-left: -15px !important;
    }

    .custom1{
        margin-left: 32px !important;
    }

    ion-label{
        margin: 0px !important; 
    }

    .item-md p{
        margin: 15px 0px 2px !important;
    }

    .gu-transit {
        background-color: red !important;
    }

    .padding-remove{
        padding-left: 0px !important;
    }

    // ion-label {
    //     white-space: unset !important;
    // }

    // ion-content{
    //     overflow-y: auto;
    // }

    .color{
        color: black;
    }

    .lnr-cog,.lnr-move,.lnr-history,.lnr-trash {
        color: black;
        font-size: 25px;
    }
    .myclass{
        padding-top: 16px !important;
    }

    ion-reorder{
        color:#444 !important;
        font-size: 32px !important;
    }

    .myHeight{
        min-height: 10px !important;
    }

    .toolbar-md{
        padding: 0px !important;
    }

    .word{
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
