<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<strong>Orders</strong>
		</ion-title>
		<ion-buttons right *ngIf="userData.user_type=='admin'">
			<button ion-button icon-only (click)=home()>
				<ion-icon name="ios-home-outline" right></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons right *ngIf="userData.user_type!='admin'">
			<button ion-button icon-only (click)=logout()>
				<ion-icon name="power" right></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar no-border-top class="myHeight">
		<!-- Admin and Marketing Order List -->
		<ion-segment [(ngModel)]="orderSegment" *ngIf="(userData.user_type ==='admin' || userData.user_type === 'marketing')">
			<ion-segment-button value="all">
				All
			</ion-segment-button>
			<ion-segment-button value="digital">
				Digital
			</ion-segment-button>
			<ion-segment-button value="polishing">
				Polishing
			</ion-segment-button>
			<ion-segment-button value="completed">
				Completed
			</ion-segment-button>
		</ion-segment>
		<!-- Digital and Polishing Order List -->
		<ion-segment [(ngModel)]="orderSegment" *ngIf="(userData.user_type ==='digitalmachine' || userData.user_type === 'polishingmachine')">
			<ion-segment-button value="running">
				Running & Pending
			</ion-segment-button>
			<ion-segment-button value="completed">
				Completed
			</ion-segment-button>
		</ion-segment>

	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div [ngSwitch]="orderSegment" *ngIf="(userData.user_type ==='digitalmachine' || userData.user_type === 'polishingmachine')">
		<!-- Digital User Order List -->
		<ng-container *ngSwitchCase="'running'">
			<ng-container *ngIf="userData.user_type=='digitalmachine' && orderData?.length > 0">
				<ion-item>
					<ion-row>
						<ion-col col-3>
							<label class="">Status
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Design No.
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Quantity
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Action
							</label>
						</ion-col>
					</ion-row>
				</ion-item>
				<ion-item-group>
					<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
					<!-- <ion-list> -->

					<ion-item *ngFor="let item of digitalPending; let index = index; let fst = first; ">
						<ion-row>
							<ion-col col-3 *ngIf="item.digital_status == 2">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.digital_status == 3  || item.digital_status==1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.digital_status == 5">
								<img src="./assets/imgs/done.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 class="">
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-3>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
							<ion-col col-3 *ngIf="fst">
								<!-- <button class="fab-size" (click)="startPause(item.id)"> -->
								<img class="fab-size" src="./assets/imgs/play.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>

							<ion-col col-3 *ngIf="item.digital_status==2">
								<!-- <button ion-fab (click)="startPause(item.id)" class="fab-size" color="danger"> -->
								<img class="fab-size" src="./assets/imgs/pause.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>
						</ion-row>
					</ion-item>

					<div *ngIf="digital_pending === 0">
						<p>No Pending Orders Found</p>
					</div>

				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light" class="header1">Running</ion-item-divider>

					<ion-item *ngFor="let item of digitalStart; let index = index; " style="background-color: #CBFDCB;">
						<ion-row>
							<ion-col col-3 *ngIf="item.digital_status == 2 ">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.digital_status == 3  || item.digital_status == 1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.digital_status == 5">
								<img src="./assets/imgs/done.png" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3>
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-3>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
							<ion-col col-3 *ngIf="item.digital_status==3">
								<!-- <button class="fab-size" icon-only (click)="startPause(item.id)"> -->
								<!-- <ion-icon name="play"></ion-icon> -->
								<img class="fab-size" src="./assets/imgs/play.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>

							<ion-col col-3 *ngIf="item.digital_status==2">
								<!-- <button (click)="startPause(item.id)" class="fab-size" color="danger"> -->
								<!-- <ion-icon name="pause"></ion-icon> -->
								<img class="fab-size" src="./assets/imgs/pause.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>
						</ion-row>
					</ion-item>

					<div *ngIf="digital_start === 0">
						<p>No running Orders Found</p>
					</div>

				</ion-item-group>

			</ng-container>
			<!-- Polishing User Order List -->
			<ng-container *ngIf="userData.user_type=='polishingmachine' && orderData?.length > 0">
				<ion-item>
					<ion-row>
						<ion-col col-3>
							<label class="">Status
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Design No.
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Quantity
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Action
							</label>
						</ion-col>
					</ion-row>
				</ion-item>
				<ion-item-group>
					<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
					<ion-item *ngFor="let item of polishingPending; let index = index; let fst=first;">
						<ion-row>
							<ion-col col-3 *ngIf="item.polishing_status == 2">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.polishing_status == 3  || item.polishing_status==1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.polishing_status == 5">
								<img src="./assets/imgs/done.png" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 class="">
								<p>
									<span class="lnr lnr-magic-wand"></span>{{item?.design_number}}</p>
							</ion-col>
							<ion-col col-3>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
							<ion-col col-3 *ngIf="fst">
								<!-- <button ion-fab class="fab-size" icon-only (click)="startPause(item.id)"> -->
								<img class="fab-size" src="./assets/imgs/play.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>

							<ion-col col-3 *ngIf="item.polishing_status==2">
								<!-- <button ion-fab (click)="startPause(item.id)" class="fab-size" color="danger"> -->
								<img class="fab-size" src="./assets/imgs/pause.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>
						</ion-row>
					</ion-item>
					<div *ngIf="polishing_pending === 0">
						<p>No Pending Orders Found</p>
					</div>
				</ion-item-group>
				<ion-item-group>
					<ion-item-divider color="light" class="header1">Running</ion-item-divider>

					<ion-item *ngFor="let item of polishingStart; let index = index;" style="background-color: #CBFDCB; ">
						<ion-row>
							<ion-col col-3 *ngIf="item.polishing_status == 2 ">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.polishing_status == 3  || item.polishing_status == 1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 *ngIf="item.polishing_status == 5">
								<img src="./assets/imgs/done.png" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-3 class="">
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-3>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
							<ion-col col-3 *ngIf="item.polishing_status==3">
								<!-- <button ion-fab class="fab-size" icon-only (click)="startPause(item.id)"> -->
								<img class="fab-size" src="./assets/imgs/play.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>

							<ion-col col-3 *ngIf="item.polishing_status==2">
								<!-- <button ion-fab (click)="startPause(item.id)" class="fab-size" color="danger"> -->
								<img class="fab-size" src="./assets/imgs/pause.png" (click)="startPause(item.id)">
								<!-- </button> -->
							</ion-col>
						</ion-row>
					</ion-item>
					<div *ngIf="polishing_start === 0">
						<p>No running Orders Found</p>
					</div>
				</ion-item-group>
			</ng-container>
			<div *ngIf="orderData?.length == 0">
				<h3 text-center>No Order Found</h3>
			</div>

		</ng-container>
		<ng-container *ngSwitchCase="'completed'">
			<ion-item>
				<ion-row>
					<ion-col col-4>
						<label class="">Status
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Design No.
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Quantity
						</label>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item-group>
				<ng-container *ngIf="userData.user_type == 'digitalmachine'">
					<!-- <ion-item-divider color="green" class="header1">Completed</ion-item-divider> -->
					<ion-item *ngFor="let item of digitalCompleted; let index = index; ">
						<ion-row>
							<ion-col col-4>
								<img src="./assets/imgs/done.svg" [style.margin-top]="'5px'" width="25" height="25">
							</ion-col>
							<ion-col col-4>
								<!-- <h2>{{item?.company_name}}</h2> -->
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
								<!-- <p>{{item?.priority}}</p> -->
							</ion-col>
							<ion-col col-4>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
						</ion-row>
					</ion-item>
				</ng-container>
				<ng-container *ngIf="userData.user_type == 'polishingmachine'">
					<!-- <ion-item-divider color="green" class="header1">Completed</ion-item-divider> -->
					<ion-item *ngFor="let item of polishingCompleted; let index = index; ">
						<ion-row>
							<ion-col col-4>
								<img src="./assets/imgs/done.svg" [style.margin-top]="'5px'" width="25" height="25">
							</ion-col>
							<ion-col col-4>
								<!-- <h2>{{item?.company_name}}</h2> -->
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
								<!-- <p>{{item?.priority}}</p> -->
							</ion-col>
							<ion-col col-4>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>
						</ion-row>
					</ion-item>
				</ng-container>
				<div *ngIf="completed === 0">
					<p>No completed orders found.</p>
				</div>
			</ion-item-group>
		</ng-container>
	</div>

	<div [ngSwitch]="orderSegment" *ngIf="userData.user_type === 'admin'">
		<!-- All Order Admin -->
		<ng-container *ngSwitchCase="'all'">
			<ion-item-divider color="green" class="header1">Approved</ion-item-divider>
			<ng-container *ngIf="userData.user_type=='admin'">
				<ion-list reorder="true" (ionItemReorder)="reorderItem($event)" class="leftReorderButton">
					<ion-item *ngFor="let item of approvedOrder; let index = index; " class="padding-remove" id="{{item | json}}">
						<ion-row>
							<!-- <ion-col col-2>
								<button ion-button item-end clear>
									<span class="lnr lnr-move"></span>
								</button>
							</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-7 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes</h3>
								<h4 class="color"><span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
							</ion-col>
							<ion-col col-3>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col>

						</ion-row>
					</ion-item>
				</ion-list>
				<div *ngIf="approvedOrder?.length == 0">
					<p>No approved orders found</p>
				</div>
				<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
				<ion-list>
					<ion-item *ngFor="let item of pendingOrder; let index = index; " class="padding-remove" id="{{item | json}}">
						<ion-row>
							<!-- <ion-col col-2>
									<button ion-button item-end clear>
										<span class="lnr lnr-move"></span>
									</button>
								</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-7 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color word">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes &nbsp;| &nbsp;{{item?.created_at | date:'dd/MM/y'}}</h3>
							</ion-col>
							<ion-col col-3>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col>

						</ion-row>
					</ion-item>
				</ion-list>
				<div *ngIf="pendingOrder?.length == 0">
					<p>No pending orders found</p>
				</div>
				<ion-item-divider color="danger" class="header1">Rejected</ion-item-divider>
				<ion-list>
					<ion-item *ngFor="let item of rejectedOrder; let index = index; " class="padding-remove" id="{{item | json}}">
						<ion-row>
							<!-- <ion-col col-2>
									<button ion-button item-end clear>
										<span class="lnr lnr-move"></span>
									</button>
								</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-6 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color word">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes &nbsp;| &nbsp;{{item?.created_at | date:'dd/MM/y'}}</h3>
							</ion-col>
							<ion-col col-2>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col>
							<ion-col col-2>
								<button ion-button clear (click)="deleteRejected(item.id)">
									<span class="lnr lnr-trash"></span>
								</button>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-list>
				<div *ngIf="rejectedOrder?.length == 0">
					<p>No rejected orders found</p>
				</div>
			</ng-container>

		</ng-container>
		<!-- Digital Order Admin -->
		<ng-container *ngSwitchCase="'digital'">
			<ng-container>
				<ion-item>
					<ion-row>
						<ion-col col-3>
							<label class="">Status
							</label>
						</ion-col>
						<ion-col col-4>
							<label class="">Design No.
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Quantity
							</label>
						</ion-col>
						<!-- <ion-col col-2>
							<ion-item>
								<label class="">
								</label>
							</ion-item>
						</ion-col> -->
					</ion-row>
				</ion-item>
				<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
				<ion-list reorder="true" (ionItemReorder)="reorderItem($event)" class="leftReorderButton">
					<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.digital_pending">
						<ion-row>
							<ion-col col-4 *ngIf="item.digital_status == 2">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-4 *ngIf="item.digital_status == 3  || item.digital_status ==1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-4>
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-4>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>

						</ion-row>
					</ion-item>
					<div *ngIf="digital_pending === 0">
						<p>No pending orders found</p>
					</div>
				</ion-list>
			</ng-container>
			<ion-item-group>
				<ion-item-divider color="light" class="header1">Running</ion-item-divider>
				<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.digital_display" style="background-color: #CBFDCB;">
					<ion-row>
						<ion-col col-4 *ngIf="item.digital_status == 2 ">
							<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4 *ngIf="item.digital_status == 3  || item.digital_status == 1">
							<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4>
							<p>
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
						</ion-col>
						<ion-col col-4>
							<ion-row>
								<p>
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-item>
				<div *ngIf="digital_start === 0">
					<p>No running orders found</p>
				</div>
			</ion-item-group>
		</ng-container>
		<!-- Polishing Order Admin -->
		<ng-container *ngSwitchCase="'polishing'">
			<ng-container>
				<ion-item>
					<ion-row>
						<ion-col col-3>
							<label class="">Status
							</label>
						</ion-col>
						<ion-col col-4>
							<label class="">Design No.
							</label>
						</ion-col>
						<ion-col col-3>
							<label class="">Quantity
							</label>
						</ion-col>
						<!-- <ion-col col-3>
							<ion-item>
								<label class="">
								</label>
							</ion-item>
						</ion-col> -->
					</ion-row>
				</ion-item>
				<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
				<ion-list reorder="true" (ionItemReorder)="polishingOrder($event)" class="leftReorderButton">
					<ion-item *ngFor="let item of polishing_order; let index = index; " [hidden]="!item.polishing_pending">
						<ion-row>
							<ion-col col-3 *ngIf="item.polishing_status == 2">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col- *ngIf="item.polishing_status == 3  || item.polishing_status==1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-4>
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-4>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>

						</ion-row>
					</ion-item>
					<div *ngIf="polishing_pending === 0">
						<p>No pending orders found</p>
					</div>
				</ion-list>
			</ng-container>
			<ion-item-group>
				<ion-item-divider color="light" class="header1">Running</ion-item-divider>

				<ion-item *ngFor="let item of polishing_order; let index = index; " [hidden]="!item.polishing_display" style="background-color: #CBFDCB;">
					<ion-row>
						<ion-col col-4 *ngIf="item.polishing_status == 2 ">
							<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4 *ngIf="item.polishing_status == 3  || item.polishing_status == 1">
							<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4>
							<p>
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
						</ion-col>
						<ion-col col-4>
							<ion-row>
								<p>
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-item>
				<div *ngIf="polishing_start === 0">
					<p>No running orders found</p>
				</div>
			</ion-item-group>
		</ng-container>
		<!-- Completed Order Admin -->
		<ng-container *ngSwitchCase="'completed'">
			<!-- <ion-item>
				<ion-row>
					<ion-col col-4>
						<label class="">Status
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Design No.
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Quantity
						</label>
					</ion-col>
				</ion-row>
			</ion-item> -->
			<ion-item-group>
				<!-- <ion-item-divider color="light" class="header1">Completed</ion-item-divider> -->

				<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.completed">
					<ion-row>
						<ion-col col-3 *ngIf="item.completed">
							<ion-avatar>
								<img src="./assets/imgs/done.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-avatar>
						</ion-col>
						<ion-col col-6 class="myclass">
							<h2 class="color word">
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
							<h3 class="color">
								<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes</h3>
							<h4 class="color">
								<span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
							<!-- <h4 class="color">
								D_Start: {{item?.digital_start | date:'d-MMM-y,h:mm a'}}</h4>
							<h4 class="color">
								D_Complete: {{item?.digital_complete | date:'d-MMM-y,h:mm a'}}</h4>
							<h4 class="color">
								P_Start: {{item?.polishing_start | date:'d-MMM-y,h:mm a'}}</h4>
							<h4 class="color">
								P_Complete: {{item?.polishing_complete | date:'d-MMM-y,h:mm a'}}</h4> -->
						</ion-col>
						<ion-col col-3>
							<button ion-button clear (click)="viewTime(item)">
								<span class="lnr lnr-history"></span>
							</button>
						</ion-col> 
					</ion-row>
				</ion-item>
				<div *ngIf="completed === 0">
					<p>No completed orders found</p>
				</div>
			</ion-item-group>
		</ng-container>

	</div>
	<!-- Marketing User Order List -->
	<div [ngSwitch]="orderSegment" *ngIf="userData.user_type === 'marketing'">
		<ng-container *ngSwitchCase="'all'">
			<ng-container *ngIf="userData.user_type=='marketing'">
				<ion-item-group>
					<ion-item-divider color="green" class="header1">Approved</ion-item-divider>
					<ion-item *ngFor="let item of approvedOrder; let index = index; ">
						<ion-row>
							<!-- <ion-col col-2>
								<button ion-button item-end clear>
									<span class="lnr lnr-move"></span>
								</button>
							</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-7 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes</h3>
								<h4 class="color"><span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
							</ion-col>
							<!-- <ion-col col-3>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col> -->

						</ion-row>
					</ion-item>
					<div *ngIf="approvedOrder?.length == 0">
						<p>No approved orders found.</p>
					</div>
					<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
					<ion-item *ngFor="let item of pendingOrder; let index = index; ">
						<ion-row>
							<!-- <ion-col col-2>
								<button ion-button item-end clear>
									<span class="lnr lnr-move"></span>
								</button>
							</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-7 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes</h3>
								<h4 class="color"><span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
							</ion-col>
							<!-- <ion-col col-3>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col> -->

						</ion-row>
					</ion-item>
					<div *ngIf="pendingOrder?.length == 0">
						<p>No pending orders found.</p>
					</div>
					<ion-item-divider color="danger" class="header1">Rejected</ion-item-divider>
					<ion-item *ngFor="let item of rejectedOrder; let index = index; ">
						<ion-row>
							<!-- <ion-col col-2>
								<button ion-button item-end clear>
									<span class="lnr lnr-move"></span>
								</button>
							</ion-col> -->
							<ion-col col-2 class="">
								<ion-avatar>
									<img *ngIf="item.admin_status == 1" src="./assets/imgs/01-01.png">
									<img *ngIf="item.admin_status == 2" src="./assets/imgs/01-03.png">
									<img *ngIf="item.admin_status == 3" src="./assets/imgs/01-02.png">
								</ion-avatar>
							</ion-col>
							<ion-col col-7 class="myclass">
								<h2 class="color word">
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
								<h3 class="color">
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes &nbsp;| &nbsp;{{item?.created_at | date:'dd/MM/y'}}</h3>
								<h4 class="color"><span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
							</ion-col>
							<!-- <ion-col col-3>
								<button ion-button clear (click)="changeStatus(item)">
									<span class="lnr lnr-cog"></span>
								</button>
							</ion-col> -->

						</ion-row>
					</ion-item>
					<div *ngIf="rejectedOrder?.length == 0">
						<p>No rejected orders found.</p>
					</div>
				</ion-item-group>
			</ng-container>
			<!-- <div *ngIf="approvedOrder?.length == 0">
				<p>No orders found</p>
			</div> -->
		</ng-container>
		<!-- Marketing Digital -->
		<ng-container *ngSwitchCase="'digital'">
			<ion-item>
				<ion-row>
					<ion-col col-4>
						<label class="">Status
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Design No.
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Quantity
						</label>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item-group>
				<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
				<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.digital_pending">
					<ion-row>
						<ion-col col-4 *ngIf="item.digital_status == 2">
							<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4 *ngIf="item.digital_status == 3  || item.digital_status ==1">
							<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4>
							<p>
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
						</ion-col>
						<ion-col col-4>
							<ion-row>
								<p>
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
							</ion-row>
						</ion-col>

					</ion-row>
				</ion-item>
				<div *ngIf="digital_pending === 0">
					<p>No Pending Orders Found</p>
				</div>
			</ion-item-group>
			<ion-item-group>
				<ion-item-divider color="light" class="header1">Running</ion-item-divider>

				<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.digital_display" style="background-color: #CBFDCB;">
					<ion-row>
						<ion-col col-4 *ngIf="item.digital_status == 2 ">
							<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4 *ngIf="item.digital_status == 3  || item.digital_status == 1">
							<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4>
							<p>
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
						</ion-col>
						<ion-col col-4>
							<ion-row>
								<p>
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-item>
				<div *ngIf="digital_start === 0">
					<p>No running Orders Found</p>
				</div>
			</ion-item-group>
		</ng-container>
		<!-- Marketing Polishing -->
		<ng-container *ngSwitchCase="'polishing'">
			<ion-item>
				<ion-row>
					<ion-col col-4>
						<label class="">Status
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Design No.
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Quantity
						</label>
					</ion-col>
				</ion-row>
			</ion-item>
			<ion-item-group>
				<ion-item-divider color="yellow" class="header1">Pending</ion-item-divider>
				<ion-list>
					<ion-item *ngFor="let item of polishing_order; let index = index; " [hidden]="!item.polishing_pending">
						<ion-row>
							<ion-col col-3 *ngIf="item.polishing_status == 2">
								<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col- *ngIf="item.polishing_status == 3  || item.polishing_status==1">
								<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-col>
							<ion-col col-4>
								<p>
									<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
							</ion-col>
							<ion-col col-4>
								<ion-row>
									<p>
										<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
								</ion-row>
							</ion-col>

						</ion-row>
					</ion-item>
					<div *ngIf="polishing_pending === 0">
						<p>No pending orders found</p>
					</div>
				</ion-list>
			</ion-item-group>
			<ion-item-group>
				<ion-item-divider color="light" class="header1">Running</ion-item-divider>

				<ion-item *ngFor="let item of polishing_order; let index = index; " [hidden]="!item.polishing_display" style="background-color: #CBFDCB;">
					<ion-row>
						<ion-col col-4 *ngIf="item.polishing_status == 2 ">
							<img src="./assets/imgs/in-progress.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4 *ngIf="item.polishing_status == 3  || item.polishing_status == 1">
							<img src="./assets/imgs/in-queue.svg" [style.margin-top]="'10px'" width="25" height="25">
						</ion-col>
						<ion-col col-4>
							<p>
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}}</p>
						</ion-col>
						<ion-col col-4>
							<ion-row>
								<p>
									<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-item>
				<div *ngIf="polishing_start === 0">
					<p>No running Orders Found</p>
				</div>
			</ion-item-group>
		</ng-container>
		<ng-container *ngSwitchCase="'completed'">
			<!-- <ion-item>
				<ion-row>
					<ion-col col-4>
						<label class="">Status
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Design No.
						</label>
					</ion-col>
					<ion-col col-4>
						<label class="">Quantity
						</label>
					</ion-col>
				</ion-row>
			</ion-item> -->
			<ion-item-group>
				<!-- <ion-item-divider color="light" class="header1">Completed</ion-item-divider> -->

				<ion-item *ngFor="let item of orderData; let index = index; " [hidden]="!item.completed">
					<ion-row>
						<ion-col col-3 *ngIf="item.completed">
							<ion-avatar>
								<img src="./assets/imgs/done.svg" [style.margin-top]="'10px'" width="25" height="25">
							</ion-avatar>
						</ion-col>
						<ion-col col-6 class="myclass">
							<h2 class="color word">
								<span class="lnr lnr-magic-wand"></span> {{item?.design_number}} ({{item?.name}})</h2>
							<h3 class="color">
								<span class="lnr lnr-pilcrow"></span> {{item?.quantity}} Boxes</h3>
							<h4 class="color"><span class="lnr lnr-calendar-full"></span> {{item?.created_at | date:'d-MMM-y,h:mm a'}}</h4>
						</ion-col>
						<ion-col col-3>
							<button ion-button clear (click)="viewTime(item)">
								<span class="lnr lnr-history"></span>
							</button>
						</ion-col> 
						<!-- <ion-col col-4>
									<ion-row>
										<p>
											<span class="lnr lnr-pilcrow"></span> {{item?.quantity}}</p>
									</ion-row>
								</ion-col> -->
					</ion-row>
				</ion-item>
				<div *ngIf="completed === 0">
					<p>No completed Orders Found</p>
				</div>
			</ion-item-group>
		</ng-container>
		<ion-fab right bottom class="search_view_btn" *ngIf="(userData.user_type === 'admin' || userData.user_type === 'marketing')">
			<button ion-fab color="primary" (click)="openAddOrder()">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-fab>
	</div>
	<ion-fab right bottom class="search_view_btn" *ngIf="(userData.user_type === 'admin' || userData.user_type === 'marketing')">
		<button ion-fab color="primary" (click)="openAddOrder()">
			<ion-icon name="add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>